*{
    padding: 0;
    margin: 0;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    font: bold;
    font-size: 2rem;
}
.items{
    display: flex;
    align-items: center;
    justify-content: center;
}
.pic{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.pic img{
    height: 300px;
    width: 300px;
}